/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: linear-gradient(180deg, #f6f9ff 0%, #fefefe 100%);
	color: #1f2937;
}
